div(id="admin-sidebar")
    a(href="/admin/list_users" id="admin-users" class="active") Users
    a(href="/admin/statistics" id="admin-admin-statistics") Statistics
    a(href="/admin/info" id="admin-admin-info") Info
