div(id="admin-sidebar")
    a(href="/admin/list_users" id="admin-users" class="active")= t('admin.sidebar.users', {lng: i18nextLng})
    a(href="/admin/statistics" id="admin-admin-statistics")= t('admin.sidebar.statistics', {lng: i18nextLng})
    //a(href="/admin/info" id="admin-admin-info")= t('admin.sidebar.info', {lng: i18nextLng})
