doctype html
html
  head
    link(rel="stylesheet" href="./resources/css/admin.css")

    div(id="script-head")
        block script_head

  body
    include admin_sidebar.pug
    
    div(id="admin-content")
        block content