div(id="main-navbar-links")
    a(href="/" id="index") Index
    a(href="/login" id="login") Login
    a(href="/register" id="register") Register
    a(href="/user" id="user") User
    a(href="/admin" id="admin") Admin
    a(href="#" id="logout") Logout
div(id="main-navbar-search")
    input(type="text" id="search" placeholder="Search..")