extends main_layout
block content
    h1 Register
    form(action="" method="" onsubmit="return false")
        label(for="firstName") First name:
        input(type="name", id="firstName", name="firstName")
        label(for="lastName") Last name:
        input(type="name", id="lastName", name="lastName")
        label(for="email") Email:
        input(type="text", id="email", name="email")
        label(for="password") Password:
        input(type="password", id="password", name="password")
        label(for="nickName") Nick name:
        input(type="name", id="nickName", name="nickName")
        label(for="userAvatar") Avatar image:
        input(type="file",id="userAvatar" accept=".png, .jpg, .jpeg" name="userAvatar")
        button(type="submit" id="submitRegister") Register

block script_head
    script(type="text/javascript" src="/resources/js/register.js")