extends user_layout
block content
    p= t('user.list_codeblocks.title', {lng: i18nextLng})
    div(id="user-content")
        if(codeSnippets)
            table(class="codesnippets")
                each codeSnippet, index in codeSnippets
                    tr
                        td
                            include ../codeblock_container.pug
                            +codeblock_container(index,codeSnippet,loggedInGroup,email,i18nextLng)
        else 
            p= "No user posted CodeSnippets found."

    div(class="codesnippets-pagination")
                                

