div(id="user-sidebar")
    a(href="/user/info" id="user-user-info")= t('user.sidebar.user_info', {lng: i18nextLng})
    a(href="/user/list_codeblocks" id="user-codeblocks")= t('user.sidebar.list_codeblocks', {lng: i18nextLng})
    a(href="/user/add_codeblock" id="user-add-codeblock")= t('user.sidebar.add_codeblock', {lng: i18nextLng})
    
